@import   url('https://fonts.googleapis.com/css?family=Montserrat:100,400,400i,700i,800');
/*Universal*/

html {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  color: white;
}

a:hover {
  color: hsl(187, 100%, 50%);
}
body {
  line-height: 1.5;
  margin: 0; padding: 0;
}
@media only screen and (max-width: 850px) {
  body {
    font-size: 1rem;
  }
}
.flex {
  display: flex;
}
.test {
  border: 1px solid red;
}
.color-box {
  width: 100%;
  margin: 0;
  padding: 6rem 0 3rem 0;
  opacity: .90;
  position: relative;
}

@media only screen and (max-width: 850px) {
  .color-box {
    padding: 2rem 0;
    position: relative;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
.c {
  clear: both;
}
.mobile {
  display: none;
}
#spacearound {
  justify-content: space-around;
}
.flexca {
  display: flex;
  align-items: center;
}
.text-center {
  text-align: center;
}

/*Container*/
.container {
  width: 980px;
  margin: 2rem auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10rem auto;
  padding: 2rem;
}
.container img, .container video {
  max-height: 100%;
  border-radius: 1rem;
  margin: 0 auto;
}
.container i {
  opacity: .8;
}
.nav-bg-text {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  opacity: .8;
}
@media only screen and (max-width: 1050px) {
  .container {
    width: 100%;
    position: relative;
    padding: 0;
  }
}




/*Header*/

header {
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}
header div {
  width: 3rem;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .8;
}
header div img {
  width: 100%;
  margin-right: 2rem;
}
nav {
  margin-right: 2rem;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  font-size: .9rem;
  font-weight: thin;
  margin: 1rem;
}
nav li a {
  color: hsla(0, 0%, 100%, 0.59);
  transition: color 700ms ease;
}
nav li a:hover {
  opacity: 1;
  color: white;
}
#checklist ul {
  position: fixed;
  opacity: 0;
  transition: opacity 111ms ease;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.55);
}
#checklist ul:hover {
  opacity: 1;
}
#checklist li {
  padding: 0;
}
@media only screen and (max-width: 850px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 3rem;
  }
  nav {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  nav ul.mobile {
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  nav li {
    font-size: 1.5rem;
    font-weight: bold;
    width: 10rem;
    margin: 1rem;
  }
  nav li img {
    width: 3rem;
    text-align: left;
    opacity: .7;
  }
}




/*Button*/
.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
  /*Button Themes*/
.btn.default {
  background-color: hsla(0, 0%, 0%, 1);
  transition: background-color 100ms ease, color 100ms ease;
  opacity: .7;
}
.btn.default:hover {
  background-color: hsla(0, 0%, 0%, 0.7);
}
  /*Button Sizes*/
.btn.sm {
  width: 150px;
}
.btn.md{
  width: 300px;
}
.btn.lg {
  width: 500px;
}



/*A href*/
a.btn {
  color: white;
}
a.btn:hover {
  color: hsl(205, 63%, 47%);
}



/*Supporting*/
p {
  line-height: 3;
  margin: 1rem auto;
  opacity: 1;
  width: 60%;
  text-indent: 2rem;
  opacity: .8;
}

p span a:nth-child(odd) {
  color: hsl(208, 82%, 49%);
  font-weight: bold;
  transition: color 100ms ease;
  text-decoration: underline;
  font-size: 1.2rem;
  opacity: 1;
}
p span a:nth-child(even) {
  color: hsl(113, 82%, 48%);
  font-weight: bold;
  transition: color 100ms ease;
  text-decoration: underline;
  font-size: 1.2rem;
  opacity: 1;
  margin-left: .5rem;
}
p span a:hover {
  color: hsl(198, 100%, 50%);
}
i {
  margin: 1rem;
}
.bg {
  background-color: hsla(0, 0%, 0%, 0.13);

}
 h1 {
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
  opacity: .8;
}
 h2 {
  font-size: 1.4rem;
  margin: 1rem;
  font-weight: thin;
  opacity: .7;
}
@media only screen and (max-width: 850px) {
  .bg {
    width: 100%;
    padding: 1rem 0;
  }
  h1 {
    text-align: center;
    font-size: 1.5rem;
}
  h2 {
    text-align: center;
    font-size: 1rem;

  }
  .container img, .container video {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    border-radius: 0rem;
    box-shadow: none;
  }
  .left {
    float: none;
  }
  .right {
    float: none;
  }
  p {
    width: 90% auto;

  }
}



/*TODAY SECTION*/
.today video {
  width: 60%;
  shape-outside: ellipse();
  margin: 1rem;
}
.today .trips-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  shape-outside: ellipse();
  width: 30%;
  border-radius: 1rem;
}
.today .trips-img div {
  width: 100%;
}
.today .trips-img img {
  width: 100%;
  margin: 1rem 0;
  position: relative;
  display: block;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1rem hsla(0, 0%, 0%, 0.4);
}



/*Footer subjects*/

footer {
  width: 100%;
  height: 10rem;
  background-color: hsla(0, 0%, 0%, 0.79);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1rem solid hsla(0, 0%, 0%, 0.04);
}
footer div {
  display: flex;
  justify-content: center;
}
footer div:nth-child(1) {
  font-weight: bold;
  opacity: .5;
  width: 80%
}
footer div:nth-child(2) {
  font-weight: thin;
  opacity: .3;
  width: 20%;
  font-size: .5rem;
}
@media only screen and (max-width: 850px) {
  footer {
    flex-direction: column;
    height: auto;
  }
  footer div nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer div nav li {
    text-align: center;
  }
  footer div:nth-child(1) {
    width: 100%;
  }
  footer div:nth-child(2) {
    margin: 2rem 0;
    width: 100%;
  }
}
